{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/news-detail.css' %}" />
{% endblock %}

{% block content %}
<main>
    <section class="container my-4">
        <article>
            <h1></h1>
            <section id="news-detail-container">
                <img src="" alt="" />
                <p></p>
            </section>
        </article>
    </section>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/news-detail.js' %}"></script>
{% endblock %}