Django==5.0.6
requests==2.32.3
pyquery==2.0.0
gunicorn==22.0.0
whitenoise==6.7.0
djangorestframework==3.15.2
drf-yasg==1.21.7
django-q2==1.6.2
croniter==2.0.5
redis==5.0.7
psycopg2-binary==2.9.9